<!DOCTYPE html>
<html>
<header> Shawndell's Pro Fitness Training</header>
<h5></h5>
<head>
  <title>Training</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="application.css" />
</head>




<body>
  <h2>

    <% if current_user %>
      <%= link_to "Sign Out #{current_user.email}", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Join Now", new_user_registration_path %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>


  </h2>



<%= yield %>

</body>
</html>
